body {
  box-sizing: border-box;
}

* {
  margin: 0;
}

.App {
  text-align: center;
  padding: 20px;
  font-size: 24px;
}

/* Add this style to maintain the actual size of the images */
.galleryItem img {
  max-width: none;
  max-height: none;
}

/* Add this style to position the selection checkbox in the top-left corner of the image */
.selectionCheckbox {
  position: absolute;
  top: 0;
  left: 0;
}
